<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
<h1>YEAH</h1>
	<% for wagon in @wagons %>
	<h2><%= wagon.name %></h2>
	<% end %>
</body>
</html>
